
/* right */
.p-r-1 {
    padding-right: 1%;
  }.p-r-2 {
    padding-right: 2%;
  }.p-r-3 {
    padding-right: 3%;
  }
  .p-r-4 {
    padding-right: 4%;
  }
  .p-r-5 {
    padding-right: 5%;
  }
  .p-r-6 {
    padding-right: 6%;
  }
  .p-r-7 {
    padding-right: 7%;
  }
  .p-r-8 {
    padding-right: 8%;
  }
  .p-r-9 {
    padding-right: 9%;
  }
  .p-r-10 {
    padding-right: 10%;
  }
  .p-r-11 {
    padding-right: 11%;
  }
  .p-r-12 {
    padding-right: 12%;
  }
  .p-r-13 {
    padding-right: 13%;
  }
  .p-r-14 {
    padding-right: 14%;
  }
  .p-r-15 {
    padding-right: 15%;
  }
  .p-r-16 {
    padding-right: 16%;
  }
  .p-r-17 {
    padding-right: 17%;
  }
  .p-r-18 {
    padding-right: 18%;
  }
  .p-r-19 {
    padding-right: 19%;
  }
  .p-r-20 {
    padding-right: 20%;
  }
  .p-r-21 {
    padding-right: 21%;
  }
  .p-r-22 {
    padding-right: 22%;
  }
  .p-r-23 {
    padding-right: 23%;
  }
  .p-r-24 {
    padding-right: 24%;
  }
  .p-r-25 {
    padding-right: 25%;
  }
  .p-r-26 {
    padding-right: 26%;
  }
  .p-r-27 {
    padding-right: 27%;
  }
  .p-r-28 {
    padding-right: 28%;
  }
  .p-r-29 {
    padding-right: 29%;
  }
  .p-r-30 {
    padding-right: 30%;
  }
  .p-r-31 {
    padding-right: 31%;
  }
  .p-r-32 {
    padding-right: 32%;
  }
  .p-r-33 {
    padding-right: 33%;
  }
  .p-r-34 {
    padding-right: 34%;
  }
  .p-r-35 {
    padding-right: 35%;
  }
  .p-r-36 {
    padding-right: 36%;
  }
  .p-r-37 {
    padding-right: 37%;
  }
  .p-r-38 {
    padding-right: 38%;
  }
  .p-r-39 {
    padding-right: 39%;
  }
  .p-r-40 {
    padding-right: 40%;
  }
  .p-r-41 {
    padding-right: 41%;
  }
  .p-r-42 {
    padding-right: 42%;
  }
  .p-r-43 {
    padding-right: 43%;
  }
  .p-r-44 {
    padding-right: 44%;
  }
  .p-r-45 {
    padding-right: 45%;
  }
  .p-r-46 {
    padding-right: 46%;
  }
  .p-r-47 {
    padding-right: 47%;
  }
  .p-r-48 {
    padding-right: 48%;
  }
  .p-r-49 {
    padding-right: 49%;
  }
  .p-r-50 {
    padding-right: 50%;
  }
  .p-r-51 {
    padding-right: 51%;
  }
  .p-r-52 {
    padding-right: 52%;
  }
  .p-r-53 {
    padding-right: 53%;
  }
  .p-r-54 {
    padding-right: 54%;
  }
  .p-r-55 {
    padding-right: 55%;
  } 
  .p-r-56 {
    padding-right: 56%;
  }
  .p-r-57 {
    padding-right: 57%;
  }
  .p-r-58 {
    padding-right: 58%;
  }
  .p-r-59 {
    padding-right: 59%;
  }
  .p-r-60 {
    padding-right: 60%;
  }
  .p-r-61 {
    padding-right: 61%;
  }
  .p-r-62 {
    padding-right: 62%;
  }
  .p-r-63 {
    padding-right: 63%;
  }
  .p-r-64 {
    padding-right: 64%;
  }
  .p-r-65 {
    padding-right: 65%;
  }
  .p-r-66 {
    padding-right: 66%;
  }
  .p-r-67 {
    padding-right: 67%;
  }
  .p-r-68 {
    padding-right: 68%;
  }
  .p-r-69 {
    padding-right: 69%;
  }
  .p-r-70 {
    padding-right: 70%;
  }
  .p-r-71 {
    padding-right: 71%;
  }
  .p-r-72 {
    padding-right: 72%;
  }
  .p-r-73 {
    padding-right: 73%;
  }
  .p-r-74 {
    padding-right: 74%;
  }
  .p-r-75 {
    padding-right: 75%;
  }
  .p-r-76 {
    padding-right: 76%;
  }
  .p-r-77 {
    padding-right: 77%;
  }
  .p-r-78 {
    padding-right: 78%;
  }
  .p-r-79 {
    padding-right: 79%;
  }
  .p-r-80 {
    padding-right: 80%;
  }
  .p-r-81 {
    padding-right: 81%;
  }
  .p-r-82 {
    padding-right: 82%;
  }
  .p-r-83 {
    padding-right: 83%;
  }
  .p-r-84 {
    padding-right: 84%;
  }
  .p-r-85 {
    padding-right: 85%;
  }
  .p-r-86 {
    padding-right: 86%;
  }
  .p-r-87 {
    padding-right: 87%;
  }
  .p-r-88 {
    padding-right: 88%;
  }
  .p-r-89 {
    padding-right: 89%;
  }
  .p-r-90 {
    padding-right: 90%;
  }
  .p-r-91 {
    padding-right: 91%;
  }
  .p-r-92 {
    padding-right: 92%;
  }
  .p-r-93 {
    padding-right: 93%;
  }
  .p-r-94 {
    padding-right: 94%;
  }
  .p-r-95 {
    padding-right: 95%;
  }
  .p-r-96 {
    padding-right: 96%;
  }
  .p-r-97 {
    padding-right: 97%;
  }
  .p-r-98 {
    padding-right: 98%;
  }
  .p-r-99 {
    padding-right: 99%;
  }
  .p-r-100 {
    padding-right: 100%;
  }


/* left */
.p-l-1 {
    padding-left: 1%;
  }.p-l-2 {
    padding-left: 2%;
  }.p-l-3 {
    padding-left: 3%;
  }
  .p-l-4 {
    padding-left: 4%;
  }
  .p-l-5 {
    padding-left: 5%;
  }
  .p-l-6 {
    padding-left: 6%;
  }
  .p-l-7 {
    padding-left: 7%;
  }
  .p-l-8 {
    padding-left: 8%;
  }
  .p-l-9 {
    padding-left: 9%;
  }
  .p-l-10 {
    padding-left: 10%;
  }
  .p-l-11 {
    padding-left: 11%;
  }
  .p-l-12 {
    padding-left: 12%;
  }
  .p-l-13 {
    padding-left: 13%;
  }
  .p-l-14 {
    padding-left: 14%;
  }
  .p-l-15 {
    padding-left: 15%;
  }
  .p-l-16 {
    padding-left: 16%;
  }
  .p-l-17 {
    padding-left: 17%;
  }
  .p-l-18 {
    padding-left: 18%;
  }
  .p-l-19 {
    padding-left: 19%;
  }
  .p-l-20 {
    padding-left: 20%;
  }
  .p-l-21 {
    padding-left: 21%;
  }
  .p-l-22 {
    padding-left: 22%;
  }
  .p-l-23 {
    padding-left: 23%;
  }
  .p-l-24 {
    padding-left: 24%;
  }
  .p-l-25 {
    padding-left: 25%;
  }
  .p-l-26 {
    padding-left: 26%;
  }
  .p-l-27 {
    padding-left: 27%;
  }
  .p-l-28 {
    padding-left: 28%;
  }
  .p-l-29 {
    padding-left: 29%;
  }
  .p-l-30 {
    padding-left: 30%;
  }
  .p-l-31 {
    padding-left: 31%;
  }
  .p-l-32 {
    padding-left: 32%;
  }
  .p-l-33 {
    padding-left: 33%;
  }
  .p-l-34 {
    padding-left: 34%;
  }
  .p-l-35 {
    padding-left: 35%;
  }
  .p-l-36 {
    padding-left: 36%;
  }
  .p-l-37 {
    padding-left: 37%;
  }
  .p-l-38 {
    padding-left: 38%;
  }
  .p-l-39 {
    padding-left: 39%;
  }
  .p-l-40 {
    padding-left: 40%;
  }
  .p-l-41 {
    padding-left: 41%;
  }
  .p-l-42 {
    padding-left: 42%;
  }
  .p-l-43 {
    padding-left: 43%;
  }
  .p-l-44 {
    padding-left: 44%;
  }
  .p-l-45 {
    padding-left: 45%;
  }
  .p-l-46 {
    padding-left: 46%;
  }
  .p-l-47 {
    padding-left: 47%;
  }
  .p-l-48 {
    padding-left: 48%;
  }
  .p-l-49 {
    padding-left: 49%;
  }
  .p-l-50 {
    padding-left: 50%;
  }
  .p-l-51 {
    padding-left: 51%;
  }
  .p-l-52 {
    padding-left: 52%;
  }
  .p-l-53 {
    padding-left: 53%;
  }
  .p-l-54 {
    padding-left: 54%;
  }
  .p-l-55 {
    padding-left: 55%;
  } 
  .p-l-56 {
    padding-left: 56%;
  }
  .p-l-57 {
    padding-left: 57%;
  }
  .p-l-58 {
    padding-left: 58%;
  }
  .p-l-59 {
    padding-left: 59%;
  }
  .p-l-60 {
    padding-left: 60%;
  }
  .p-l-61 {
    padding-left: 61%;
  }
  .p-l-62 {
    padding-left: 62%;
  }
  .p-l-63 {
    padding-left: 63%;
  }
  .p-l-64 {
    padding-left: 64%;
  }
  .p-l-65 {
    padding-left: 65%;
  }
  .p-l-66 {
    padding-left: 66%;
  }
  .p-l-67 {
    padding-left: 67%;
  }
  .p-l-68 {
    padding-left: 68%;
  }
  .p-l-69 {
    padding-left: 69%;
  }
  .p-l-70 {
    padding-left: 70%;
  }
  .p-l-71 {
    padding-left: 71%;
  }
  .p-l-72 {
    padding-left: 72%;
  }
  .p-l-73 {
    padding-left: 73%;
  }
  .p-l-74 {
    padding-left: 74%;
  }
  .p-l-75 {
    padding-left: 75%;
  }
  .p-l-76 {
    padding-left: 76%;
  }
  .p-l-77 {
    padding-left: 77%;
  }
  .p-l-78 {
    padding-left: 78%;
  }
  .p-l-79 {
    padding-left: 79%;
  }
  .p-l-80 {
    padding-left: 80%;
  }
  .p-l-81 {
    padding-left: 81%;
  }
  .p-l-82 {
    padding-left: 82%;
  }
  .p-l-83 {
    padding-left: 83%;
  }
  .p-l-84 {
    padding-left: 84%;
  }
  .p-l-85 {
    padding-left: 85%;
  }
  .p-l-86 {
    padding-left: 86%;
  }
  .p-l-87 {
    padding-left: 87%;
  }
  .p-l-88 {
    padding-left: 88%;
  }
  .p-l-89 {
    padding-left: 89%;
  }
  .p-l-90 {
    padding-left: 90%;
  }
  .p-l-91 {
    padding-left: 91%;
  }
  .p-l-92 {
    padding-left: 92%;
  }
  .p-l-93 {
    padding-left: 93%;
  }
  .p-l-94 {
    padding-left: 94%;
  }
  .p-l-95 {
    padding-left: 95%;
  }
  .p-l-96 {
    padding-left: 96%;
  }
  .p-l-97 {
    padding-left: 97%;
  }
  .p-l-98 {
    padding-left: 98%;
  }
  .p-l-99 {
    padding-left: 99%;
  }
  .p-l-100 {
    padding-left: 100%;
  }

.p-b-1 {
    padding-bottom: 1%;
  }.p-b-2 {
    padding-bottom: 2%;
  }.p-b-3 {
    padding-bottom: 3%;
  }
  .p-b-4 {
    padding-bottom: 4%;
  }
  .p-b-5 {
    padding-bottom: 5%;
  }
  .p-b-6 {
    padding-bottom: 6%;
  }
  .p-b-7 {
    padding-bottom: 7%;
  }
  .p-b-8 {
    padding-bottom: 8%;
  }
  .p-b-9 {
    padding-bottom: 9%;
  }
  .p-b-10 {
    padding-bottom: 10%;
  }
  .p-b-11 {
    padding-bottom: 11%;
  }
  .p-b-12 {
    padding-bottom: 12%;
  }
  .p-b-13 {
    padding-bottom: 13%;
  }
  .p-b-14 {
    padding-bottom: 14%;
  }
  .p-b-15 {
    padding-bottom: 15%;
  }
  .p-b-16 {
    padding-bottom: 16%;
  }
  .p-b-17 {
    padding-bottom: 17%;
  }
  .p-b-18 {
    padding-bottom: 18%;
  }
  .p-b-19 {
    padding-bottom: 19%;
  }
  .p-b-20 {
    padding-bottom: 20%;
  }
  .p-b-21 {
    padding-bottom: 21%;
  }
  .p-b-22 {
    padding-bottom: 22%;
  }
  .p-b-23 {
    padding-bottom: 23%;
  }
  .p-b-24 {
    padding-bottom: 24%;
  }
  .p-b-25 {
    padding-bottom: 25%;
  }
  .p-b-26 {
    padding-bottom: 26%;
  }
  .p-b-27 {
    padding-bottom: 27%;
  }
  .p-b-28 {
    padding-bottom: 28%;
  }
  .p-b-29 {
    padding-bottom: 29%;
  }
  .p-b-30 {
    padding-bottom: 30%;
  }
  .p-b-31 {
    padding-bottom: 31%;
  }
  .p-b-32 {
    padding-bottom: 32%;
  }
  .p-b-33 {
    padding-bottom: 33%;
  }
  .p-b-34 {
    padding-bottom: 34%;
  }
  .p-b-35 {
    padding-bottom: 35%;
  }
  .p-b-36 {
    padding-bottom: 36%;
  }
  .p-b-37 {
    padding-bottom: 37%;
  }
  .p-b-38 {
    padding-bottom: 38%;
  }
  .p-b-39 {
    padding-bottom: 39%;
  }
  .p-b-40 {
    padding-bottom: 40%;
  }
  .p-b-41 {
    padding-bottom: 41%;
  }
  .p-b-42 {
    padding-bottom: 42%;
  }
  .p-b-43 {
    padding-bottom: 43%;
  }
  .p-b-44 {
    padding-bottom: 44%;
  }
  .p-b-45 {
    padding-bottom: 45%;
  }
  .p-b-46 {
    padding-bottom: 46%;
  }
  .p-b-47 {
    padding-bottom: 47%;
  }
  .p-b-48 {
    padding-bottom: 48%;
  }
  .p-b-49 {
    padding-bottom: 49%;
  }
  .p-b-50 {
    padding-bottom: 50%;
  }
  .p-b-51 {
    padding-bottom: 51%;
  }
  .p-b-52 {
    padding-bottom: 52%;
  }
  .p-b-53 {
    padding-bottom: 53%;
  }
  .p-b-54 {
    padding-bottom: 54%;
  }
  .p-b-55 {
    padding-bottom: 55%;
  } 
  .p-b-56 {
    padding-bottom: 56%;
  }
  .p-b-57 {
    padding-bottom: 57%;
  }
  .p-b-58 {
    padding-bottom: 58%;
  }
  .p-b-59 {
    padding-bottom: 59%;
  }
  .p-b-60 {
    padding-bottom: 60%;
  }
  .p-b-61 {
    padding-bottom: 61%;
  }
  .p-b-62 {
    padding-bottom: 62%;
  }
  .p-b-63 {
    padding-bottom: 63%;
  }
  .p-b-64 {
    padding-bottom: 64%;
  }
  .p-b-65 {
    padding-bottom: 65%;
  }
  .p-b-66 {
    padding-bottom: 66%;
  }
  .p-b-67 {
    padding-bottom: 67%;
  }
  .p-b-68 {
    padding-bottom: 68%;
  }
  .p-b-69 {
    padding-bottom: 69%;
  }
  .p-b-70 {
    padding-bottom: 70%;
  }
  .p-b-71 {
    padding-bottom: 71%;
  }
  .p-b-72 {
    padding-bottom: 72%;
  }
  .p-b-73 {
    padding-bottom: 73%;
  }
  .p-b-74 {
    padding-bottom: 74%;
  }
  .p-b-75 {
    padding-bottom: 75%;
  }
  .p-b-76 {
    padding-bottom: 76%;
  }
  .p-b-77 {
    padding-bottom: 77%;
  }
  .p-b-78 {
    padding-bottom: 78%;
  }
  .p-b-79 {
    padding-bottom: 79%;
  }
  .p-b-80 {
    padding-bottom: 80%;
  }
  .p-b-81 {
    padding-bottom: 81%;
  }
  .p-b-82 {
    padding-bottom: 82%;
  }
  .p-b-83 {
    padding-bottom: 83%;
  }
  .p-b-84 {
    padding-bottom: 84%;
  }
  .p-b-85 {
    padding-bottom: 85%;
  }
  .p-b-86 {
    padding-bottom: 86%;
  }
  .p-b-87 {
    padding-bottom: 87%;
  }
  .p-b-88 {
    padding-bottom: 88%;
  }
  .p-b-89 {
    padding-bottom: 89%;
  }
  .p-b-90 {
    padding-bottom: 90%;
  }
  .p-b-91 {
    padding-bottom: 91%;
  }
  .p-b-92 {
    padding-bottom: 92%;
  }
  .p-b-93 {
    padding-bottom: 93%;
  }
  .p-b-94 {
    padding-bottom: 94%;
  }
  .p-b-95 {
    padding-bottom: 95%;
  }
  .p-b-96 {
    padding-bottom: 96%;
  }
  .p-b-97 {
    padding-bottom: 97%;
  }
  .p-b-98 {
    padding-bottom: 98%;
  }
  .p-b-99 {
    padding-bottom: 99%;
  }
  .p-b-100 {
    padding-bottom: 100%;
  }

/* TOP */
.p-t-1 {
    padding-top: 1%;
  }.p-t-2 {
    padding-top: 2%;
  }.p-t-3 {
    padding-top: 3%;
  }
  .p-t-4 {
    padding-top: 4%;
  }
  .p-t-5 {
    padding-top: 5%;
  }
  .p-t-6 {
    padding-top: 6%;
  }
  .p-t-7 {
    padding-top: 7%;
  }
  .p-t-8 {
    padding-top: 8%;
  }
  .p-t-9 {
    padding-top: 9%;
  }
  .p-t-10 {
    padding-top: 10%;
  }
  .p-t-11 {
    padding-top: 11%;
  }
  .p-t-12 {
    padding-top: 12%;
  }
  .p-t-13 {
    padding-top: 13%;
  }
  .p-t-14 {
    padding-top: 14%;
  }
  .p-t-15 {
    padding-top: 15%;
  }
  .p-t-16 {
    padding-top: 16%;
  }
  .p-t-17 {
    padding-top: 17%;
  }
  .p-t-18 {
    padding-top: 18%;
  }
  .p-t-19 {
    padding-top: 19%;
  }
  .p-t-20 {
    padding-top: 20%;
  }
  .p-t-21 {
    padding-top: 21%;
  }
  .p-t-22 {
    padding-top: 22%;
  }
  .p-t-23 {
    padding-top: 23%;
  }
  .p-t-24 {
    padding-top: 24%;
  }
  .p-t-25 {
    padding-top: 25%;
  }
  .p-t-26 {
    padding-top: 26%;
  }
  .p-t-27 {
    padding-top: 27%;
  }
  .p-t-28 {
    padding-top: 28%;
  }
  .p-t-29 {
    padding-top: 29%;
  }
  .p-t-30 {
    padding-top: 30%;
  }
  .p-t-31 {
    padding-top: 31%;
  }
  .p-t-32 {
    padding-top: 32%;
  }
  .p-t-33 {
    padding-top: 33%;
  }
  .p-t-34 {
    padding-top: 34%;
  }
  .p-t-35 {
    padding-top: 35%;
  }
  .p-t-36 {
    padding-top: 36%;
  }
  .p-t-37 {
    padding-top: 37%;
  }
  .p-t-38 {
    padding-top: 38%;
  }
  .p-t-39 {
    padding-top: 39%;
  }
  .p-t-40 {
    padding-top: 40%;
  }
  .p-t-41 {
    padding-top: 41%;
  }
  .p-t-42 {
    padding-top: 42%;
  }
  .p-t-43 {
    padding-top: 43%;
  }
  .p-t-44 {
    padding-top: 44%;
  }
  .p-t-45 {
    padding-top: 45%;
  }
  .p-t-46 {
    padding-top: 46%;
  }
  .p-t-47 {
    padding-top: 47%;
  }
  .p-t-48 {
    padding-top: 48%;
  }
  .p-t-49 {
    padding-top: 49%;
  }
  .p-t-50 {
    padding-top: 50%;
  }
  .p-t-51 {
    padding-top: 51%;
  }
  .p-t-52 {
    padding-top: 52%;
  }
  .p-t-53 {
    padding-top: 53%;
  }
  .p-t-54 {
    padding-top: 54%;
  }
  .p-t-55 {
    padding-top: 55%;
  } 
  .p-t-56 {
    padding-top: 56%;
  }
  .p-t-57 {
    padding-top: 57%;
  }
  .p-t-58 {
    padding-top: 58%;
  }
  .p-t-59 {
    padding-top: 59%;
  }
  .p-t-60 {
    padding-top: 60%;
  }
  .p-t-61 {
    padding-top: 61%;
  }
  .p-t-62 {
    padding-top: 62%;
  }
  .p-t-63 {
    padding-top: 63%;
  }
  .p-t-64 {
    padding-top: 64%;
  }
  .p-t-65 {
    padding-top: 65%;
  }
  .p-t-66 {
    padding-top: 66%;
  }
  .p-t-67 {
    padding-top: 67%;
  }
  .p-t-68 {
    padding-top: 68%;
  }
  .p-t-69 {
    padding-top: 69%;
  }
  .p-t-70 {
    padding-top: 70%;
  }
  .p-t-71 {
    padding-top: 71%;
  }
  .p-t-72 {
    padding-top: 72%;
  }
  .p-t-73 {
    padding-top: 73%;
  }
  .p-t-74 {
    padding-top: 74%;
  }
  .p-t-75 {
    padding-top: 75%;
  }
  .p-t-76 {
    padding-top: 76%;
  }
  .p-t-77 {
    padding-top: 77%;
  }
  .p-t-78 {
    padding-top: 78%;
  }
  .p-t-79 {
    padding-top: 79%;
  }
  .p-t-80 {
    padding-top: 80%;
  }
  .p-t-81 {
    padding-top: 81%;
  }
  .p-t-82 {
    padding-top: 82%;
  }
  .p-t-83 {
    padding-top: 83%;
  }
  .p-t-84 {
    padding-top: 84%;
  }
  .p-t-85 {
    padding-top: 85%;
  }
  .p-t-86 {
    padding-top: 86%;
  }
  .p-t-87 {
    padding-top: 87%;
  }
  .p-t-88 {
    padding-top: 88%;
  }
  .p-t-89 {
    padding-top: 89%;
  }
  .p-t-90 {
    padding-top: 90%;
  }
  .p-t-91 {
    padding-top: 91%;
  }
  .p-t-92 {
    padding-top: 92%;
  }
  .p-t-93 {
    padding-top: 93%;
  }
  .p-t-94 {
    padding-top: 94%;
  }
  .p-t-95 {
    padding-top: 95%;
  }
  .p-t-96 {
    padding-top: 96%;
  }
  .p-t-97 {
    padding-top: 97%;
  }
  .p-t-98 {
    padding-top: 98%;
  }
  .p-t-99 {
    padding-top: 99%;
  }
  .p-t-100 {
    padding-top: 100%;
  }
  
  .p-lr-1 {
    padding-left: 1%;
    padding-right: 1%;
}.p-lr-2 {
    padding-left: 2%;
    padding-right: 2%;
}.p-lr-3 {
    padding-left: 3%;
    padding-right: 3%;
}
.p-lr-4 {
    padding-left: 4%;
    padding-right: 4%;
}
.p-lr-5 {
    padding-left: 5%;
    padding-right: 5%;
}
.p-lr-6 {
    padding-left: 6%;
    padding-right: 6%;
}
.p-lr-7 {
    padding-left: 7%;
    padding-right: 7%;
}
.p-lr-8 {
    padding-left: 8%;
    padding-right: 8%;
}
.p-lr-9 {
    padding-left: 9%;
    padding-right: 9%;
}
.p-lr-10 {
    padding-left: 10%;
    padding-right: 10%;
}
.p-lr-11 {
    padding-left: 11%;
    padding-right: 11%;
}
.p-lr-12 {
    padding-left: 12%;
    padding-right: 12%;
}
.p-lr-13 {
    padding-left: 13%;
    padding-right: 13%;
}
.p-lr-14 {
    padding-left: 14%;
    padding-right: 14%;
}
.p-lr-15 {
    padding-left: 15%;
    padding-right: 15%;
}
.p-lr-16 {
    padding-left: 16%;
    padding-right: 16%;
}
.p-lr-17 {
    padding-left: 17%;
    padding-right: 17%;
}
.p-lr-18 {
    padding-left: 18%;
    padding-right: 18%;
}
.p-lr-19 {
    padding-left: 19%;
    padding-right: 19%;
}
.p-lr-20 {
    padding-left: 20%;
    padding-right: 20%;
}
.p-lr-21 {
    padding-left: 21%;
    padding-right: 21%;
}
.p-lr-22 {
    padding-left: 22%;
    padding-right: 22%;
}
.p-lr-23 {
    padding-left: 23%;
    padding-right: 23%;
}
.p-lr-24 {
    padding-left: 24%;
    padding-right: 24%;
}
.p-lr-25 {
    padding-left: 25%;
    padding-right: 25%;
}
.p-lr-26 {
    padding-left: 26%;
    padding-right: 26%;
}
.p-lr-27 {
    padding-left: 27%;
    padding-right: 27%;
}
.p-lr-28 {
    padding-left: 28%;
    padding-right: 28%;
}
.p-lr-29 {
    padding-left: 29%;
    padding-right: 29%;
}
.p-lr-30 {
    padding-left: 30%;
    padding-right: 30%;
}
.p-lr-31 {
    padding-left: 31%;
    padding-right: 31%;
}
.p-lr-32 {
    padding-left: 32%;
    padding-right: 32%;
}
.p-lr-33 {
    padding-left: 33%;
    padding-right: 33%;
}
.p-lr-34 {
    padding-left: 34%;
    padding-right: 34%;
}
.p-lr-35 {
    padding-left: 35%;
    padding-right: 35%;
}
.p-lr-36 {
    padding-left: 36%;
    padding-right: 36%;
}
.p-lr-37 {
    padding-left: 37%;
    padding-right: 37%;
}
.p-lr-38 {
    padding-left: 38%;
    padding-right: 38%;
}
.p-lr-39 {
    padding-left: 39%;
    padding-right: 39%;
}
.p-lr-40 {
    padding-left: 40%;
    padding-right: 40%;
}
.p-lr-41 {
    padding-left: 41%;
    padding-right: 41%;
}
.p-lr-42 {
    padding-left: 42%;
    padding-right: 42%;
}
.p-lr-43 {
    padding-left: 43%;
    padding-right: 43%;
}
.p-lr-44 {
    padding-left: 44%;
    padding-right: 44%;
}
.p-lr-45 {
    padding-left: 45%;
    padding-right: 45%;
}
.p-lr-46 {
    padding-left: 46%;
    padding-right: 46%;
}
.p-lr-47 {
    padding-left: 47%;
    padding-right: 47%;
}
.p-lr-48 {
    padding-left: 48%;
    padding-right: 48%;
}
.p-lr-49 {
    padding-left: 49%;
    padding-right: 49%;
}
.p-lr-50 {
    padding-left: 50%;
    padding-right: 50%;
}
.p-lr-51 {
    padding-left: 51%;
    padding-right: 51%;
}
.p-lr-52 {
    padding-left: 52%;
    padding-right: 52%;
}
.p-lr-53 {
    padding-left: 53%;
    padding-right: 53%;
}
.p-lr-54 {
    padding-left: 54%;
    padding-right: 54%;
}
.p-lr-55 {
    padding-left: 55%;
    padding-right: 55%;
}
.p-lr-56 {
    padding-left: 56%;
    padding-right: 56%;
}
.p-lr-57 {
    padding-left: 57%;
    padding-right: 57%;
}
.p-lr-58 {
    padding-left: 58%;
    padding-right: 58%;
}
.p-lr-59 {
    padding-left: 59%;
    padding-right: 59%;
}
.p-lr-60 {
    padding-left: 60%;
    padding-right: 60%;
}
.p-lr-61 {
    padding-left: 61%;
    padding-right: 61%;
}
.p-lr-62 {
    padding-left: 62%;
    padding-right: 62%;
}
.p-lr-63 {
    padding-left: 63%;
    padding-right: 63%;
}
.p-lr-64 {
    padding-left: 64%;
    padding-right: 64%;
}
.p-lr-65 {
    padding-left: 65%;
    padding-right: 65%;
}
.p-lr-66 {
    padding-left: 66%;
    padding-right: 66%;
}
.p-lr-67 {
    padding-left: 67%;
    padding-right: 67%;
}
.p-lr-68 {
    padding-left: 68%;
    padding-right: 68%;
}
.p-lr-69 {
    padding-left: 69%;
    padding-right: 69%;
}
.p-lr-70 {
    padding-left: 70%;
    padding-right: 70%;
}
.p-lr-71 {
    padding-left: 71%;
    padding-right: 71%;
}
.p-lr-72 {
    padding-left: 72%;
    padding-right: 72%;
}
.p-lr-73 {
    padding-left: 73%;
    padding-right: 73%;
}
.p-lr-74 {
    padding-left: 74%;
    padding-right: 74%;
}
.p-lr-75 {
    padding-left: 75%;
    padding-right: 75%;
}
.p-lr-76 {
    padding-left: 76%;
    padding-right: 76%;
}
.p-lr-77 {
    padding-left: 77%;
    padding-right: 77%;
}
.p-lr-78 {
    padding-left: 78%;
    padding-right: 78%;
}
.p-lr-79 {
    padding-left: 79%;
    padding-right: 79%;
}
.p-lr-80 {
    padding-left: 80%;
    padding-right: 80%;
}
.p-lr-81 {
    padding-left: 81%;
    padding-right: 81%;
}
.p-lr-82 {
    padding-left: 82%;
    padding-right: 82%;
}
.p-lr-83 {
    padding-left: 83%;
    padding-right: 83%;
}
.p-lr-84 {
    padding-left: 84%;
    padding-right: 84%;
}
.p-lr-85 {
    padding-left: 85%;
    padding-right: 85%;
}
.p-lr-86 {
    padding-left: 86%;
    padding-right: 86%;
}
.p-lr-87 {
    padding-left: 87%;
    padding-right: 87%;
}
.p-lr-88 {
    padding-left: 88%;
    padding-right: 88%;
}
.p-lr-89 {
    padding-left: 89%;
    padding-right: 89%;
}
.p-lr-90 {
    padding-left: 90%;
    padding-right: 90%;
}
.p-lr-91 {
    padding-left: 91%;
    padding-right: 91%;
}
.p-lr-92 {
    padding-left: 92%;
    padding-right: 92%;
}
.p-lr-93 {
    padding-left: 93%;
    padding-right: 93%;
}
.p-lr-94 {
    padding-left: 94%;
    padding-right: 94%;
}
.p-lr-95 {
    padding-left: 95%;
    padding-right: 95%;
}
.p-lr-96 {
    padding-left: 96%;
    padding-right: 96%;
}
.p-lr-97 {
    padding-left: 97%;
    padding-right: 97%;
}
.p-lr-98 {
    padding-left: 98%;
    padding-right: 98%;
}
.p-lr-99 {
    padding-left: 99%;
    padding-right: 99%;
}
.p-lr-100 {
    padding-left: 100%;
    padding-right: 100%;
}
    
  
  /* bottom & top */
    .p-bt-1 {
        padding-bottom: 1%;
        padding-top: 1%;
    }.p-bt-2 {
        padding-bottom: 2%;
        padding-top: 2%;
    }.p-bt-3 {
        padding-bottom: 3%;
        padding-top: 3%;
    }
    .p-bt-4 {
        padding-bottom: 4%;
        padding-top: 4%;
    }
    .p-bt-5 {
        padding-bottom: 5%;
        padding-top: 5%;
    }
    .p-bt-6 {
        padding-bottom: 6%;
        padding-top: 6%;
    }
    .p-bt-7 {
        padding-bottom: 7%;
        padding-top: 7%;
    }
    .p-bt-8 {
        padding-bottom: 8%;
        padding-top: 8%;
    }
    .p-bt-9 {
        padding-bottom: 9%;
        padding-top: 9%;
    }
    .p-bt-10 {
        padding-bottom: 10%;
        padding-top: 10%;
    }
    .p-bt-11 {
        padding-bottom: 11%;
        padding-top: 11%;
    }
    .p-bt-12 {
        padding-bottom: 12%;
        padding-top: 12%;
    }
    .p-bt-13 {
        padding-bottom: 13%;
        padding-top: 13%;
    }
    .p-bt-14 {
        padding-bottom: 14%;
        padding-top: 14%;
    }
    .p-bt-15 {
        padding-bottom: 15%;
        padding-top: 15%;
    }
    .p-bt-16 {
        padding-bottom: 16%;
        padding-top: 16%;
    }
    .p-bt-17 {
        padding-bottom: 17%;
        padding-top: 17%;
    }
    .p-bt-18 {
        padding-bottom: 18%;
        padding-top: 18%;
    }
    .p-bt-19 {
        padding-bottom: 19%;
        padding-top: 19%;
    }
    .p-bt-20 {
        padding-bottom: 20%;
        padding-top: 20%;
    }
    .p-bt-21 {
        padding-bottom: 21%;
        padding-top: 21%;
    }
    .p-bt-22 {
        padding-bottom: 22%;
        padding-top: 22%;
    }
    .p-bt-23 {
        padding-bottom: 23%;
        padding-top: 23%;
    }
    .p-bt-24 {
        padding-bottom: 24%;
        padding-top: 24%;
    }
    .p-bt-25 {
        padding-bottom: 25%;
        padding-top: 25%;
    }
    .p-bt-26 {
        padding-bottom: 26%;
        padding-top: 26%;
    }
    .p-bt-27 {
        padding-bottom: 27%;
        padding-top: 27%;
    }
    .p-bt-28 {
        padding-bottom: 28%;
        padding-top: 28%;
    }
    .p-bt-29 {
        padding-bottom: 29%;
        padding-top: 29%;
    }
    .p-bt-30 {
        padding-bottom: 30%;
        padding-top: 30%;
    }
    .p-bt-31 {
        padding-bottom: 31%;
        padding-top: 31%;
    }
    .p-bt-32 {
        padding-bottom: 32%;
        padding-top: 32%;
    }
    .p-bt-33 {
        padding-bottom: 33%;
        padding-top: 33%;
    }
    .p-bt-34 {
        padding-bottom: 34%;
        padding-top: 34%;
    }
    .p-bt-35 {
        padding-bottom: 35%;
        padding-top: 35%;
    }
    .p-bt-36 {
        padding-bottom: 36%;
        padding-top: 36%;
    }
    .p-bt-37 {
        padding-bottom: 37%;
        padding-top: 37%;
    }
    .p-bt-38 {
        padding-bottom: 38%;
        padding-top: 38%;
    }
    .p-bt-39 {
        padding-bottom: 39%;
        padding-top: 39%;
    }
    .p-bt-40 {
        padding-bottom: 40%;
        padding-top: 40%;
    }
    .p-bt-41 {
        padding-bottom: 41%;
        padding-top: 41%;
    }
    .p-bt-42 {
        padding-bottom: 42%;
        padding-top: 42%;
    }
    .p-bt-43 {
        padding-bottom: 43%;
        padding-top: 43%;
    }
    .p-bt-44 {
        padding-bottom: 44%;
        padding-top: 44%;
    }
    .p-bt-45 {
        padding-bottom: 45%;
        padding-top: 45%;
    }
    .p-bt-46 {
        padding-bottom: 46%;
        padding-top: 46%;
    }
    .p-bt-47 {
        padding-bottom: 47%;
        padding-top: 47%;
    }
    .p-bt-48 {
        padding-bottom: 48%;
        padding-top: 48%;
    }
    .p-bt-49 {
        padding-bottom: 49%;
        padding-top: 49%;
    }
    .p-bt-50 {
        padding-bottom: 50%;
        padding-top: 50%;
    }
    .p-bt-51 {
        padding-bottom: 51%;
        padding-top: 51%;
    }
    .p-bt-52 {
        padding-bottom: 52%;
        padding-top: 52%;
    }
    .p-bt-53 {
        padding-bottom: 53%;
        padding-top: 53%;
    }
    .p-bt-54 {
        padding-bottom: 54%;
        padding-top: 54%;
    }
    .p-bt-55 {
        padding-bottom: 55%;
        padding-top: 55%;
    }
    .p-bt-56 {
        padding-bottom: 56%;
        padding-top: 56%;
    }
    .p-bt-57 {
        padding-bottom: 57%;
        padding-top: 57%;
    }
    .p-bt-58 {
        padding-bottom: 58%;
        padding-top: 58%;
    }
    .p-bt-59 {
        padding-bottom: 59%;
        padding-top: 59%;
    }
    .p-bt-60 {
        padding-bottom: 60%;
        padding-top: 60%;
    }
    .p-bt-61 {
        padding-bottom: 61%;
        padding-top: 61%;
    }
    .p-bt-62 {
        padding-bottom: 62%;
        padding-top: 62%;
    }
    .p-bt-63 {
        padding-bottom: 63%;
        padding-top: 63%;
    }
    .p-bt-64 {
        padding-bottom: 64%;
        padding-top: 64%;
    }
    .p-bt-65 {
        padding-bottom: 65%;
        padding-top: 65%;
    }
    .p-bt-66 {
        padding-bottom: 66%;
        padding-top: 66%;
    }
    .p-bt-67 {
        padding-bottom: 67%;
        padding-top: 67%;
    }
    .p-bt-68 {
        padding-bottom: 68%;
        padding-top: 68%;
    }
    .p-bt-69 {
        padding-bottom: 69%;
        padding-top: 69%;
    }
    .p-bt-70 {
        padding-bottom: 70%;
        padding-top: 70%;
    }
    .p-bt-71 {
        padding-bottom: 71%;
        padding-top: 71%;
    }
    .p-bt-72 {
        padding-bottom: 72%;
        padding-top: 72%;
    }
    .p-bt-73 {
        padding-bottom: 73%;
        padding-top: 73%;
    }
    .p-bt-74 {
        padding-bottom: 74%;
        padding-top: 74%;
    }
    .p-bt-75 {
        padding-bottom: 75%;
        padding-top: 75%;
    }
    .p-bt-76 {
        padding-bottom: 76%;
        padding-top: 76%;
    }
    .p-bt-77 {
        padding-bottom: 77%;
        padding-top: 77%;
    }
    .p-bt-78 {
        padding-bottom: 78%;
        padding-top: 78%;
    }
    .p-bt-79 {
        padding-bottom: 79%;
        padding-top: 79%;
    }
    .p-bt-80 {
        padding-bottom: 80%;
        padding-top: 80%;
    }
    .p-bt-81 {
        padding-bottom: 81%;
        padding-top: 81%;
    }
    .p-bt-82 {
        padding-bottom: 82%;
        padding-top: 82%;
    }
    .p-bt-83 {
        padding-bottom: 83%;
        padding-top: 83%;
    }
    .p-bt-84 {
        padding-bottom: 84%;
        padding-top: 84%;
    }
    .p-bt-85 {
        padding-bottom: 85%;
        padding-top: 85%;
    }
    .p-bt-86 {
        padding-bottom: 86%;
        padding-top: 86%;
    }
    .p-bt-87 {
        padding-bottom: 87%;
        padding-top: 87%;
    }
    .p-bt-88 {
        padding-bottom: 88%;
        padding-top: 88%;
    }
    .p-bt-89 {
        padding-bottom: 89%;
        padding-top: 89%;
    }
    .p-bt-90 {
        padding-bottom: 90%;
        padding-top: 90%;
    }
    .p-bt-91 {
        padding-bottom: 91%;
        padding-top: 91%;
    }
    .p-bt-92 {
        padding-bottom: 92%;
        padding-top: 92%;
    }
    .p-bt-93 {
        padding-bottom: 93%;
        padding-top: 93%;
    }
    .p-bt-94 {
        padding-bottom: 94%;
        padding-top: 94%;
    }
    .p-bt-95 {
        padding-bottom: 95%;
        padding-top: 95%;
    }
    .p-bt-96 {
        padding-bottom: 96%;
        padding-top: 96%;
    }
    .p-bt-97 {
        padding-bottom: 97%;
        padding-top: 97%;
    }
    .p-bt-98 {
        padding-bottom: 98%;
        padding-top: 98%;
    }
    .p-bt-99 {
        padding-bottom: 99%;
        padding-top: 99%;
    }
    .p-bt-100 {
        padding-bottom: 100%;
        padding-top: 100%;
    }
    