

/* FLEX */
.d-flex {
  display: flex;
}

.f-row {
  display: flex;
}
.f-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.f-row-around{
  display: flex;
  justify-content: space-around;
}
.f-row-center{
  display: flex;
  justify-content: center;
}

.f-column {
  display: flex;
  flex-direction: column;
}

.f-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}





/* Justify Content */
.j-center {
  justify-content: center;
}

/* Align Items */
.a-center {
  align-items: center;
}



.f-column {
  width: 100%;
  
}

.f.column-left {
  width: 20%;
  
}

.f-column-right {
  margin: 2rem;
  width: 60%;
}




#container {
  margin: 20px;
  width: 200px;
  height: 8px;
  position: relative;
}

.blockquote-teal {
  border-left-color: teal;
  color: teal;
}



/*
 *  Experimental
 *
 */

 .parent {
  position: relative;
  width: 60vw;
  height: 20vh;
  background-color: #f0f0f0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moving-element {
  position: absolute;
  width: 10vw;
  height: 10vh;
  background-color: transparent;
}
.parent:hover > .moving-element {
  animation: moveX 10s linear infinite;
}

@keyframes moveX {
  0%, 100% {
    left: 0;
  }
  50% {
    left: calc(100% - 10vw);
    rotate: 360deg;
  }
}


/* Hover description */
/* .gitlab {
  position: relative;
  display: inline-flex;
  justify-content: center;
}

.gitlab::after {
  content: "Gitlab";
  position: absolute;
  bottom: 30px;
  left: 40%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s;
}

.gitlab:hover::after {
  opacity: 1;
} */
.gitlab {
  position: relative;
  display: inline-flex;
}

.gitlab::after {
  content: "Gitlab";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  white-space: nowrap;
}

.gitlab:hover::after {
  opacity: 1;
}

.gitlab img {
  display: block; /* Entfernt möglichen unteren Rand/Leerraum */
}

/* Github */
.github {
  position: relative;
  display: inline-flex;
}

.github::after {
  content: "Github";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  white-space: nowrap;
}

.github:hover::after {
  opacity: 1;
}

.github img {
  display: block;
}

