

/* FLEX */
.d-flex {
  display: flex;
}

.f-row {
  display: flex;
}
.f-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.f-row-around{
  display: flex;
  justify-content: space-around;
}
.f-row-center{
  display: flex;
  justify-content: center;
}
.f-row-even{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



.f-self-start{
  justify-self: start;
  align-self: center;
}

.f-column {
  display: flex;
  flex-direction: column;
}

.f-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}





/* Justify Content */
.j-center {
  justify-content: center;
}

/* Align Items */
.a-center {
  align-items: center;
}



.f-column {
  width: 100%;
  
}

.f.column-left {
  width: 20%;
  
}

.f-column-right {
  margin: 2rem;
  width: 60%;
}




.f-column-start-space .f-row span {
  margin-left: 5%;
  margin-right: 5%;
}
.f-column-start-space .f-row b {
  margin-left: 5%!important;
}



/* Margins */

.m-l-50 {
  margin-left: 50%;
}
.m-t-10 {
  margin-top: 10%;
}
.m-t-4 {
  margin-top: 4%;
}











#container {
  margin: 20px;
  width: 200px;
  height: 8px;
  position: relative;
}

.blockquote-teal {
  border-left-color: teal;
  color: teal;
}



/*
 *  Experimental
 *
 */

 .parent {
  position: relative;
  width: 60vw;
  height: 20vh;
  background-color: #f0f0f0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moving-element {
  position: absolute;
  width: 10vw;
  height: 10vh;
  background-color: transparent;
}
.parent:hover > .moving-element {
  animation: moveX 10s linear infinite;
}

@keyframes moveX {
  0%, 100% {
    left: 0;
  }
  50% {
    left: calc(100% - 10vw);
    rotate: 360deg;
  }
}

/* EXPERIMENTAL END */


.hov-desc {
  position: relative;
  display: inline-flex;
}

.hov-desc::after {
  content: attr(alt);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  white-space: nowrap;
}

.hov-desc:hover::after {
  opacity: 1;
}

.hov-desc img {
  display: block; 
}

ol li::marker, ul li::marker {
  color: #7E56C2; 
}
