

/* FLEX */
.d-flex {
  display: flex;
}

.f-row {
  display: flex;
}
.f-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.f-row-around{
  display: flex;
  justify-content: space-around;
}

.f-column {
  display: flex;
  flex-direction: column;
}

.f-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}





/* Justify Content */
.j-center {
  justify-content: center;
}

/* Align Items */
.a-center {
  align-items: center;
}



.f-column {
  width: 100%;
  
}

.f.column-left {
  width: 20%;
  
}

.f-column-right {
  margin: 2rem;
  width: 60%;
}




#container {
  margin: 20px;
  width: 200px;
  height: 8px;
  position: relative;
}

.blockquote-teal {
  border-left-color: teal;
  color: teal;
}



/*
 *  Experimental
 *
 */

 .parent {
  position: relative;
  width: 60vw;
  height: 20vh;
  background-color: #f0f0f0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moving-element {
  position: absolute;
  width: 10vw;
  height: 10vh;
  background-color: transparent;
}
.parent:hover > .moving-element {
  animation: moveX 10s linear infinite;
}

@keyframes moveX {
  0%, 100% {
    left: 0;
  }
  50% {
    left: calc(100% - 10vw);
    rotate: 360deg;
  }
}
